{% extends 'encyclopedia/layout.html' %}

{% block title %}
    Edit page
{% endblock title %}

{% block body %}
    <h1>Edit the page</h1>
    <form class="max-width-99p" method="post">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        {% csrf_token %}
        <h3>{{ title }}</h3>
        <div class="form-group">
            <textarea rows="4" class="form-control" name="content" id="content">{{ content }}</textarea>
        </div>
        <button class="btn btn-primary" type="submit">Edit</button>
    </form>
{% endblock body %}